<!DOCTYPE html>
<html lang="sl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kam se odpravljaš?</title>
  <link rel="stylesheet" href="/style/style.css">
  <link rel="icon" type="image/x-icon" href="/Logo/HikingBuddies.png">
</head>
<body>
  <div class="home-background"></div>

  <div class="home-logo">
    <img src="/Logo/HikingBuddies.png" alt="Logo">
  </div>

  <div class="home-top-buttons">
    <a href="signup.html" class="home-btn-link"><button class="home-btn">Sign Up</button></a>
    <a href="login.html" class="home-btn-link"><button class="home-btn">Log In</button></a>
  </div>

  <div class="home-container">
    <div class="home-title">KAM SE ODPRAVLJAŠ?</div>
    <div class="home-input-wrapper">
      <input type="text" class="home-input" placeholder="Vnesi destinacijo...">
    </div>
  </div>
</body>
</html>